<mat-card class="help-card">
  <mat-card-title>
    Návod pre prácu so štatistikou
  </mat-card-title>

  <mat-card-content>

    <section class="help-section">
      <h3 class="page-title full">Import štatistiky do Excelu</h3>

      <p>
        Pre import CSV súboru so štatistikou do Excelu postupujte nasledovne:
      </p>

      <ol class="help-list">
        <li>Otvorte nový zošit Excelu</li>
        <li>
          V hornom menu Excelu zvoľte záložku <b>Dáta</b> a kliknite na ikonu
          pre načítanie dát z textu (obrázok 1)
        </li>
        <li>
          V sprievodcovi zvoľte typ súboru <b>Oddeľovač</b> a kódovanie
          <b>UTF-8</b> (obrázok 2)
        </li>
        <li>
          Nastavte oddeľovač jednotlivých stĺpcov pomocou znaku <b>|</b>
          (obrázok 3)
        </li>
        <li>Kliknite na <b>Dokončiť</b></li>
      </ol>

      <div class="image-group">
        <img src="assets/images/statistic-1.jpg" alt="Obrázok 1">
        <img src="assets/images/statistic-2.jpg" alt="Obrázok 2">
        <img src="assets/images/statistic-3.jpg" alt="Obrázok 3">
      </div>

    </section>

  </mat-card-content>
</mat-card>