<!-- app.component.html -->
<div class="container text-center">

  <button mat-button (click)="openDialog('Add',{})" mat-flat-button class="btn btn-add">Pridaj</button>

  <table mat-table [dataSource]="dataSource" #mytable class="simple-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name" class="table-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description"  class="table-description">
      <th mat-header-cell *matHeaderCellDef> Popis </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container *ngIf="havePosition" matColumnDef="position" class="table-position">
      <th mat-header-cell *matHeaderCellDef> Pozícia </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action"  class="table-action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <button type="button" (click)="openDialog('Update',element)" class="btn btn-link btn-sm btn-rounded">
          Upraviť
        </button>
        <button type="button" (click)="activateTogle(element)" class="btn btn-link btn-sm btn-rounded">
          Deaktivovať
        </button>
        <button type="button" (click)="openDialog('Delete',element)" class="btn btn-link btn-sm btn-rounded">
          Vymazať
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>