<div id="hgroup">
  <img ngSrc="assets/images/pes-logo-header.png" alt="PES" class="logo-view" height="80"
       width="285"/>
</div>
<mat-toolbar color="primary" class="app-toolbar">
  <!-- Left side navigation -->
  <span class="toolbar-left">
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>

    <!-- Zaznamy dropdown -->
    <mat-menu #recordsMenu="matMenu">
      <button mat-menu-item routerLink="entry_line/add_entry" routerLinkActive="active-link">
        Pridať záznam o kontakte
      </button>
      <button mat-menu-item routerLink="entry_line" routerLinkActive="active-link">
        Zobraziť všetky záznamy
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="recordsMenu">
      Zaznamy <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <!-- Karty dropdown -->
    <mat-menu #cardsMenu="matMenu">
      <button mat-menu-item routerLink="card_line/add_card" routerLinkActive="active-link">
        Nová karta klienta
      </button>
      <button mat-menu-item routerLink="card_line/all_cards" routerLinkActive="active-link">
        Zobraziť všetky karty
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="cardsMenu">
      Karty <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <a mat-button routerLink="/report" routerLinkActive="active-link">Štatistiky</a>

    <!-- O programe dropdown -->
    <mat-menu #infoMenu="matMenu">
      <button mat-menu-item routerLink="info/support" routerLinkActive="active-link">
        Podpora / Problémy
      </button>
      <button mat-menu-item routerLink="info/about_statistic" routerLinkActive="active-link">
        Nápoveda pre štatistiku
      </button>
      <button mat-menu-item routerLink="info/about_program" routerLinkActive="active-link">
        Informácie o programe
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="infoMenu">
      O Programe <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <!-- Nastavenia dropdown -->
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item routerLink="setting/other_institutions" routerLinkActive="active-link">Iných inštitúcií</button>
      <button mat-menu-item routerLink="setting/campaigns"
              routerLinkActive="active-link">Kampane</button>
      <button mat-menu-item routerLink="setting/methods"
              routerLinkActive="active-link">Metódy práce</button>
      <button mat-menu-item routerLink="setting/programs"
              routerLinkActive="active-link">Programy</button>
      <button mat-menu-item routerLink="setting/coworkers" routerLinkActive="active-link">Spolupracovníci</button>
      <button mat-menu-item routerLink="setting/events"
              routerLinkActive="active-link">Udalosti</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="settingsMenu">
      Nastavenia <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </span>

  <!-- Right side auth -->
  <span class="toolbar-right" *ngIf="!token.isAuthenticated()">
    <a mat-button routerLink="register">Zaregistrovať sa</a>
    <a mat-button routerLink="login">Prihlásiť sa</a>
  </span>

  <span class="toolbar-right" *ngIf="token.isAuthenticated()">
    <span mat-button>Prihlasení ako: {{ token.user()?.username  }}</span>
    <button mat-button (click)="logout()">Odhlásiť sa</button>
    <a mat-button routerLink="admin" *ngIf="showAdminBoard">Admin Board</a>
    <a mat-button routerLink="mod" *ngIf="showModeratorBoard">Moderator Board</a>
  </span>
</mat-toolbar>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>


