<div class="container text-center">
  <table mat-table [dataSource]="tableData" #mytable class="my-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- place Column-->
    <ng-container matColumnDef="place" class="table-place">
      <th mat-header-cell *matHeaderCellDef> Miesto </th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>

    <!-- entry_date_from Column -->
    <ng-container matColumnDef="entry_date_from"  class="table-entry_date_from">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let element"> {{element.entry_date_from}} </td>
    </ng-container>

    <!-- campaign Column -->
    <ng-container matColumnDef="campaign"  class="table-clint_age">
      <th mat-header-cell *matHeaderCellDef> Kampaň </th>
      <td mat-cell *matCellDef="let element"> {{element.campaign.name}} </td>
    </ng-container>

    <!-- program Column -->
    <ng-container matColumnDef="program_type" class="table-program_type">
      <th mat-header-cell *matHeaderCellDef> Program </th>
      <td mat-cell *matCellDef="let element"> {{element.program_type.name}} </td>
    </ng-container>

    <!-- cratedBy Column -->
    <ng-container matColumnDef="cratedBy"  class="table-cratedBy">
      <th mat-header-cell *matHeaderCellDef> Pridal: </th>
      <td mat-cell *matCellDef="let element"> {{element.cratedBy}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action"  class="table-action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <button type="button" (click)="redirectUrl(element)" class="btn btn-link btn-sm btn-rounded">Upraviť</button>
        <button type="button" (click)="openDialog('Delete',element)" class="btn btn-link btn-sm btn-rounded">Vymazať</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>