<div class="one_half">
<h2>Informácie o programe</h2>
<p>
 Programu Evidencie Služieb (PES) si dáva za cieľ znížiť administratívnu náročnosť, skvalitniť pozbierané dáta, uľahčiť a podporiť ich štrukturalizované zbieranie a poskytnúť nástroj pre jednoduchšie vytvorenie rôznych štatistík (pre interné potreby) ako aj štandardnú zostavu pre externý report.</p>
<p>Autor idey a vlastník programu PES </p>
<p>
<a href="http://kaspian.sk/sk/"><img style="width: 270px" src="assets//images/about-01_kaspian.jpg"></a>
</p>
<p>
	Poslaním KASPIAN-u je prispievať k skvalitneniu života detí a mladých ľudí najmä prostredníctvom nízkoprahovných programov. Vzdeláva, šíri myšlienky nízkoprahu, odovzdáva skúsenosti ďalej a podporuje organizácie v ich rozvoji. </p>

Program bol podporený:
<ul>
	<li>Islandom, Lichtenštajnskom a Nórskom prostredníctvom Programu Aktívne občianstvo a inklúzia, ktorý realizuje Nadácia Ekopolis v spolupráci s Nadáciou pre deti Slovenska a SOCIA – nadácia pre sociálne zmeny</li>
	<li>prostredníctvom Programu švajčiarsko-slovenskej spolupráce v rámci rozšírenej Európskej únie</li>
	<li>Ministerstvom školstva, vedy, výskumu a športu SR</li>
	<li>množstvom dobrovoľníckych hodín a spolupracujúcimi organizáciami.</li>
</ul>
<p>
	<a href="http://www.bgsfm.sk/blokovy-grant-pre-mvo.html"><img src="assets/images/about-02_program-swiss-slovak.jpg" class="boxholder"></a>
</p>
<p>
	<a href="https://www.iuventa.sk/sk/IUVENTA-home.alej"><img src="assets/images/about-03_MSVVAS_SR.jpg" class="boxholder"></a>
</p>
<p>
	<a href="http://www.eeagrants.sk/"><img src="assets/images/about-04_EEA.jpg" class="boxholder"></a>
</p>
<div class="push10"></div>
<h2>Verzia</h2>
<p>
				Aktuálna verzia programu: 0.0.1<br>
				Dátum verzie: 31.06.2021
</p>
</div>
