openapi: 3.0.3
info:
  title: Kaspian PES application API
  description: "kaspian: PES application API Documentation"
  termsOfService: http://kaspian.sk/terms/
  contact:
    email: kaspian@kaspian.sk
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
externalDocs:
  description: Find out more
  url: http://kapian-pes.online
servers:
  - url: http://kapian-pes.online/
tags:
  - name: Authentication
    description: Authentication 
  - name: Cards
    description: Tools for Cards
  - name: Entrys
    description: Tools for Entrys
  - name: Events
    description: Tools for Events
  - name: Campaigns
    description: Tools for Campaigns
  - name: Coworkers
    description: Tools for Coworkers
  - name: Institutions
    description: Tools for Institutions
  - name: Methods
    description: Tools for Methods
  - name: Programs
    description: Tools for Programs
paths:
  /api/card/save:
    post: 
      security:
        - bearerAuth: []
      tags: 
        - Cards
      summary: Save object type of Card
      operationId: saveCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Card'
      responses:
        201:
          description: "Successfully saved Card"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/card/{code}:
    get: 
      security:
        - bearerAuth: []
      tags: 
        - Cards
      summary: Return object type of Card base on code
      operationId: getCard
      parameters:
        - in: path
          name: code
          description: String code of card
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Card"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Cards
      summary: Remove object type of Card
      operationId: deleteCard
      parameters:
        - in: path
          name: code
          description: String code of card
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Card"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/card/allCards:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Cards
      summary: Return all cards
      operationId: getAllCard
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/Gender'
        - $ref: '#/components/parameters/YearFrom'
        - $ref: '#/components/parameters/YearTo'
        - $ref: '#/components/parameters/Author'
      responses:
        200:
          description: "Successfully get All Cards"
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CardPage'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/card/allActiveCards:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Cards
      summary:  Return all status equal active cards
      operationId: getAllActiveCard
      responses:
        200:
          description: "Successfully get All active Cards"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/card/activate/{code}:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Cards
      summary: Endpoint change/ toggle status of activity on object
      operationId: getToggleCard
      parameters:
        - in: path
          name: code
          description: String code of card
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Card"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/card/filter:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - Cards
      summary: Filter card endpoint
      description: Returns a list of cards based on filter criteria
      operationId: filterCards
      responses:
        200:
          description: "Successfully get All filtered Cards"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Entrys
      summary: Save object type of Entry
      operationId: saveEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        201:
          description: "Successfully saved Entry"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Entrys
      summary: Return object type of Entry base on code
      operationId: getEntry
      parameters:
        - in: path
          name: code
          description: String code of entry
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Entry"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Entrys
      summary: Remove object type of Entry
      operationId: deleteEntry
      parameters:
        - in: path
          name: code
          description: String code of entry
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Entry"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/allEntrys:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Entrys
      summary: Return all entrys
      operationId: getAllEntry
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Place'
        - $ref: '#/components/parameters/Campaign'
        - $ref: '#/components/parameters/YearFrom'
        - $ref: '#/components/parameters/YearTo'
        - $ref: '#/components/parameters/Author'
        - $ref: '#/components/parameters/Program'
      responses:
        200:
          description: "Successfully get All Entrys"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/filter:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - Entrys
      summary: Filter entrys endpoint
      description: Returns a list of entrys based on filter criteria
      operationId: filterEntrys
      responses:
        200:
          description: "Successfully get All filtered Entrys"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/allCardEntrysMain:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Return all entrys for selected card
      operationId: getAllCardEntrysMain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Card'
      responses:
        200:
          description: "Successfully get All cards entrys"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/allCardEntrysOnSite:
    post:
      security:
        - bearerAuth: []
      tags:
        - Events
      summary: Return all entrys for selected card
      operationId: getallCardEntrysOnSite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Card'
      responses:
        200:
          description: "Successfully get All cards entrys"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/newUserEntrys:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Return 5 newest events for user
      operationId: getNewUserEntrys
      responses:
        200:
          description: "Successfully get All entrys"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/entry/getListNewEntrys:
            get:
              security:
                - bearerAuth: [ ]
              tags:
                - Events
              summary: Return 5 newest events for user
              operationId: getListNewEntrys
              parameters:
                - $ref: '#/components/parameters/PageSize'
              responses:
                200:
                  description: "Successfully get All entrys"
                  content:
                    application/json:
                      schema:
                        type: array
                        items:
                          $ref: '#/components/schemas/Entry'
                400:
                  $ref: '#/components/responses/InvalidRequest'
                401:
                  $ref: '#/components/responses/UnauthorizedError'
                403:
                  $ref: '#/components/responses/AccessDenied'
                404:
                  $ref: '#/components/responses/URLNotExist'
                500:
                  $ref: '#/components/responses/SystemException'
  /api/event/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Save object type of Event
      operationId: saveEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        201:
          description: "Successfully saved Event"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/event/{code}:
    get: 
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Return object type of Event base on code
      operationId: getEvent
      parameters:
        - in: path
          name: code
          description: String code of event
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Event"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Remove object type of Event
      operationId: deleteEvent
      parameters:
        - in: path
          name: code
          description: String code of event
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Event"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/event/allEvents:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Events
      summary: Return all events
      operationId: getAllEvent
      responses:
        200:
          description: "Successfully get All Events"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/event/allActiveEvents:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Events
      summary: Return all status equal active events
      operationId: getAllActiveEvent
      responses:
        200:
          description: "Successfully get all active Events"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/campaign/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Campaigns
      summary: Save object type of Campaign
      operationId: saveCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
      responses:
        201:
          description: "Successfully saved Campaign"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/campaign/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Campaigns
      summary: Return object type of Campaign base on code
      operationId: getCampaign
      parameters:
        - in: path
          name: code
          description: String code of campaign
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Campaign"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Campaigns
      summary: Remove object type of Campaign
      operationId: deleteCampaign
      parameters:
        - in: path
          name: code
          description: String code of campaign
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Campaign"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/campaign/allCampaigns:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Campaigns
      summary: Return all campaigns
      operationId: getAllCampaign
      responses:
        200:
          description: "Successfully get All Campaigns"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/campaign/allActiveCampaigns:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Campaigns
      summary:  Return all status equal active campaigns
      operationId: getAllActiveCampaign
      responses:
        200:
          description: "Successfully get all active Campaigns"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/coworker/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Coworkers
      summary: Save object type of Coworker
      operationId: saveCoworker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coworker'
      responses:
        201:
          description: "Successfully saved Coworker"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coworker'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/coworker/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Coworkers
      summary: Return object type of Coworker base on code
      operationId: getCoworker
      parameters:
        - in: path
          name: code
          description: String code of coworker
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Coworker"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coworker'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Coworkers
      summary: Remove object type of Coworker
      operationId: deleteCoworker
      parameters:
        - in: path
          name: code
          description: String code of coworker
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Coworker"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/coworker/allCoworkers:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Coworkers
      summary: Return all coworkers
      operationId: getAllCoworker
      responses:
        200:
          description: "Successfully get All Coworkers"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coworker'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/coworker/allActiveCoworkers:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Coworkers
      summary: Return all status equal active coworkers
      operationId: getAllActiveCoworker
      responses:
        200:
          description: "Successfully get all active Coworkers"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coworker'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/institution/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Institutions
      summary: Save object type of Institutions
      operationId: saveInstitutions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Institution'
      responses:
        201:
          description: "Successfully saved Institution"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/institution/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Institutions
      summary: Return object type of Institutions base on code
      operationId: getInstitutions
      parameters:
        - in: path
          name: code
          description: String code of institutions
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Institution"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Institutions
      summary: Remove object type of Institutions
      operationId: deleteInstitutions
      parameters:
        - in: path
          name: code
          description: String code of institutions
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Institution"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/institution/allInstitutions:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Institutions
      summary: Return all institutions
      operationId: getAllInstitutions
      responses:
        200:
          description: "Successfully get All Institutions"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Institution'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/institution/allActiveInstitutions:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Institutions
      summary:  Return all status equal active institutions
      operationId: getAllActiveInstitutions
      responses:
        200:
          description: "Successfully get all active Institutions"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Institution'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/method/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Methods
      summary: Save object type of Method
      operationId: saveMethods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Method'
      responses:
        201:
          description: "Successfully saved Method"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Method'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/method/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Methods
      summary: Return object type of Method base on code
      operationId: getMethods
      parameters:
        - in: path
          name: code
          description: String code of method
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Method"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Method'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Methods
      summary: Remove object type of Methods
      operationId: deleteMethods
      parameters:
        - in: path
          name: code
          description: String code of method
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Method"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/method/allMethods:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Methods
      summary: Return all method
      operationId: getAllMethods
      responses:
        200:
          description: "Successfully get All Methods"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Method'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/method/allActiveMethods:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Methods
      summary:  Return all status equal active method
      operationId: getAllActiveMethods
      responses:
        200:
          description: "Successfully get all active Methods"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Method'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/program/save:
    post:
      security:
        - bearerAuth: []
      tags: 
        - Programs
      summary: Save object type of Program
      operationId: savePrograms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program'
      responses:
        201:
          description: "Successfully saved Program"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/program/{code}:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Programs
      summary: Return object type of Programs base on code
      operationId: getPrograms
      parameters:
        - in: path
          name: code
          description: String code of program
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successfully get Program"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
    delete:
      security:
        - bearerAuth: []
      tags: 
        - Programs
      summary: Remove object type of Program
      operationId: deletePrograms
      parameters:
        - in: path
          name: code
          description: String code of program
          required: true
          schema:
            type: string
      responses:
        204:
          description: "Successfully removed Program"
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/program/allPrograms:
    get:
      security:
        - bearerAuth: []
      tags: 
        - Programs
      summary: Return all program
      operationId: getAllPrograms
      responses:
        200:
          description: "Successfully get All Programs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Program'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/program/allActivePrograms:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Programs
      summary: Return all status equal active program
      operationId: getAllActivePrograms
      responses:
        200:
          description: "Successfully get All Programs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Program'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        404:
          $ref: '#/components/responses/URLNotExist'
        500:
          $ref: '#/components/responses/SystemException'
  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: Authenticate and create session
      security:
        - bearerAuth: []
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        200:
          description: Identity successfully logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtResponse'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        500:
          $ref: '#/components/responses/SystemException'
  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: Get authenticated informations
      operationId: registerAcess
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        200:
          description: Identity successfully authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/AccessDenied'
        500:
          $ref: '#/components/responses/SystemException'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    authSessionToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Include the `X-Auth-Token` header for session identification.
  parameters:
    PageSize:
      name: page_size
      in: query
      description: Number of items in a page, default page size is `20`
      x-pageable: true
      x-default-value: 20
      schema:
        type: integer
        #        minimum: 1
        #        maximum: 100
        default: 20
      required: false
    PageNumber:
      name: page_number
      in: query
      x-pageable-option: true
      description: Page number, default is `0`
      schema:
        type: integer
        default: 0
#        minimum: 0
      required: false
    Sort:
      name: sort
      in: query
      x-pageable-option: true
      description: |
        "Multi sort criteria: property1,property2(desc),property(asc) eg. name,type(desc)"        
      schema:
        type: string
      required: false
    Search:
      name: search
      in: query
      x-pageable-option: true
      description: "Search test filter criteria"        
      schema:
        type: string
      required: false
    MaxRecords:
      name: max
      in: query
      description: Max results count
      schema:
        type: integer
      required: false
    FromRecord:
      name: from
      in: query
      description: From which result to continue (inclusive)
      schema:
        type: integer
      required: false
    Name:
      name: name
      in: query
      x-pageable-option: true
      description: "Name of the card, event, etc"
      schema:
        type: string
      required: false
    Gender:
      name: gender
      in: query
      x-pageable-option: true
      description: "Gender on card object"
      schema:
        type: string
      required: false
    YearFrom:
        name: yearfrom
        in: query
        x-pageable-option: true
        description: "Year value from:"
        schema:
          type: string
        required: false
    YearTo:
      name: yearto
      in: query
      x-pageable-option: true
      description: "Year value to:"
      schema:
        type: string
      required: false
    Author:
      name: author
      in: query
      x-pageable-option: true
      required: false
      description: "Identification of peason who created object"
      schema:
        type: string
    Place:
      name: place
      in: query
      x-pageable-option: true
      required: false
      description: "Identification of place"
      schema:
        type: string
    Campaign:
      name: campaign
      in: query
      x-pageable-option: true
      required: false
      description: "Identification of campaign"
      schema:
        type: string
    Program:
      name: program
      in: query
      x-pageable-option: true
      required: false
      description: "Identification of program"
      schema:
        type: string
  responses:
    EntityNotFound:
      description: "Entity not found"
    BadGatewayException:
      description: "Target processable service unreachable"
    SystemException:
      description: "A system error occurred in the service call"
    InvalidRequest:
      description: "The request does not match the specification"
    URLNotExist:
      description: "Given URL does not exist"
    UnauthorizedError:
      description: "Access token is missing or invalid"
    AccessDenied:
      description: "Access denied - insufficient rights"
  schemas:
    CardPage:
      type: object
      description: "Array of card results filtered, ordered and with paging support"
      required:
        - results
        - paging
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        paging:
          $ref: '#/components/schemas/Paging'
    Card:
      description: "Card object"
      type: object
      properties:
        id: 
          type: number
        client_nick:
          type: string
        client_gender:
          type: string
        client_anamnesis:
          type: string
        client_dev_plan:
          type: string
        clint_age:
          type: string
        client_birth_year:
          type: string
        client_name:
          type: string
        client_surname:
          type: string
        client_birth_date:
          type: string
        client_family_status:
          type: string
        client_citizenship:
          type: string
        client_address:
          type: string
        client_phone:
          type: string
        client_email:
          type: string
        client_socnet:
          type: string
        client_health:
          type: string
        client_income:
          type: string
        client_belongings:
          type: string
        client_other_institutes:
          $ref: '#/components/schemas/Institution'
        createdBy:
          $ref: '#/components/schemas/User'
        status:
          type: string
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    PersonFilterRequest:
      type: object
      description: Filter criteria for searching cards
      properties:
        name:
          type: string
          example: Jano

        sex:
          type: string
          description: Sex of person
          enum: [ MAN, WOMAN ]

        timeFrom:
          type: string
          format: date
          description: Birth date from (inclusive)
          example: 1980-01-01

        timeTo:
          type: string
          format: date
          description: Birth date to (inclusive)
          example: 1995-12-31

        active:
          type: boolean
          description: Active status

        createdBy:
          type: string
          example: admin

        sortBy:
          type: string
          description: Field to sort by
          enum:
            - name
            - birthDate
            - active
            - createdBy
          example: name

        sortOrder:
          type: string
          description: Sort direction
          enum: [ ASC, DESC ]
          example: ASC
    Entry:
      description: "Entry object"
      type: object
      properties:
        id: 
          type: number
        client:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        clients_on_site:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        entry_date_from:
          type: string
        entry_date_to:
          type: string
        place:
          type: string
        contact_type:
          type: string
        campaign:
          $ref: '#/components/schemas/Campaign'
        program_type:
          $ref: '#/components/schemas/Program'
        work_methods:
          type: array
          items:
            $ref: '#/components/schemas/Method'
        other_workers:
          type: array
          items:
            $ref: '#/components/schemas/Coworker'
        event_description:
          type: string
        fast_message:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Event:
      description: "Event object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Campaign:
      description: "Campaign object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Coworker:
      description: "Coworker object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        position:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Institution:
      description: "Institution object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Method:
      description: "Methods object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    Program:
      description: "Programs object"
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        created:
          type: string
        updated:
          type: string
        last_change:
          $ref: '#/components/schemas/User'
    LoginRequest:
      description: "Login object"
      type: object
      properties:
        username: 
          type: string
        password:
          type: string
    SignUpRequest:
      description: "Login object"
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        roles:
          type: array
          items:
            type: string
    LogUser:
      description: "Programs object"
      type: object
      properties:
        jwt: 
          type: string
        id:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        roles:
          type: array
          items: 
            type: string
    MessageResponse:
      description: "user registration response"
      type: object
      properties: 
        message: 
          type: string
    JwtResponse:
      type: object
      properties:
        token:
          type: string
          description: Access token string.
        id:
          type: number
          description: User ID.
        username:
          type: string
          description: Username of the authenticated user.
        email:
          type: string
          description: Email of the authenticated user.
        roles:
          type: array
          items:
            type: string
          description: List of roles assigned to the authenticated user.
    SessionInfo:
      type: object
      properties:
        id:
          type: string
          description: Unique identity identificator
        created:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: number
          description: User ID.
        username:
          type: string
          description: Username of the authenticated user.
    Paging:
      type: object
      description: "Paging information"
      required:
        - pageNumber
        - pageSize
        - pageCount
        - totalElements
      properties:
        pageNumber:
          type: integer
          format: int32
          description: "Page number, first page is 0"
        pageSize:
          type: integer
          format: int32
          description: "Number of items in the page"
        pageCount:
          type: integer
          format: int32
          description: "Total number of pages"
        totalElements:
          type: integer
          format: int64
          description: "Total number of elements"
      example:
        pageNumber: 0,
        pageSize: 30,
        pageCount: 5
        totalElements: 100
