<mat-card class="contact-card">
  <mat-card-title>
    Podpora – kontakt
  </mat-card-title>

  <mat-card-content>
    <p class="contact-description">
      Tu môžete zadať problémy, ktoré máte v rámci aplikácie a odoslať ich
      na podporu, kde vám pomôžeme s riešením alebo poradíme.
    </p>

    <form [formGroup]="contactForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nadpis</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="contactForm.get('title')?.hasError('required')">
          Nadpis je povinný
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Otázka / popis udalosti</mat-label>
        <textarea
            matInput
            rows="6"
            formControlName="message"
            required>
        </textarea>
        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
          Popis je povinný
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="contactForm.invalid || loading">
          Odoslať
        </button>

        <mat-progress-spinner
            *ngIf="loading"
            diameter="24"
            mode="indeterminate">
        </mat-progress-spinner>
      </div>

    </form>
  </mat-card-content>
</mat-card>