h2 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important;
    margin-bottom: 0;
    color: #8fcb51;
    border-bottom: 1px solid #8fcb51;
}

.table {
    margin: 1.5rem;
    display: block;
}